#products {
  width: 100%;

  .products-wrapper {
    max-width: 1260px;
    margin: 0 auto;

    .file-nest {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      margin-top: 20px;

      .home-icon {
        margin-right: 10px;
        color: rgb(235, 120, 39);
        font-size: 18px;
        cursor: pointer;

        &:hover {
          opacity: .9;
        }
      }

      .category {
        margin-right: 10px;
        color: rgb(235, 120, 39);
        font-size: 14px;

        &:hover {
          opacity: .9;
        }
      }

      p {
        margin-right: 10px;
        font-size: 14px;
        cursor: pointer;
        color: #333
      }
    }

    .title {
      text-align: center;
      margin-bottom: 20px;
    }

    .products {
      margin: 0 auto;
      max-width: 1260px;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      flex-wrap: wrap;
      gap: 40px 45px;
      @media (max-width: 1260px) {
        justify-content: center;
      }

      .card {
        width: 280px;
        height: 330px;
        border-radius: 15px;
        overflow: hidden;
        z-index: 0;
        &:hover{
          transform: translateY(-3%);
          transition: .3s ease-in;
          box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.35);
        }

        &__header {
          cursor: pointer;
          padding: 10px 0;
          background-color: transparent;
          display: flex;
          justify-content: center;
          align-items: center;

          img {
            overflow: hidden;
            width: 200px;
            height: 200px;
          }
        }

        &__body {
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;

          .name {
            color: orangered;
            margin-bottom: 15px;
            font-size: 18px;
          }

          .pricewrap {
            display: flex;
            justify-content: center;
            align-items: center;
            column-gap: 10px;

            .price {
              font-size: 18px;
              font-weight: 500;
            }

            .icon__wrap {
              width: 40px;
              height: 40px;
              display: flex;
              justify-content: center;
              align-items: center;
              background-color: orangered;
              border-radius: 5px;
              &:hover{
                cursor: pointer;
              }
              .icon {
                color: white;
              }
            }
          }
        }
      }
    }
  }
}
