.subnav {
  background-color: lightgrey;
  overflow-x: hidden;

  &::-webkit-scrollbar {
    display: none;
  }

  .wrapper {
    position: relative;
    margin: 0 auto;
    max-width: 1160px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    min-width: 765px;
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
    @media (max-width: 765px) {
      overflow-x: scroll;
      .wrapper::-webkit-scrollbar {
        display: none;
      }
    }


    .nav {
      display: flex;

      .title {
        color: #444444;
        line-height: 50px;
      }

      span {
        margin: 15px 10px;
      }

      &:last-child {
        .title {
          margin-right: 10px;
        }

        span {
          display: none;
        }
      }

      &:hover {
        .dropdown {
          display: block;
          top: 50px;
        }
      }

      .dropdown {
        position: absolute;
        display: none;
        top: -450px;
        transition: .5s ease-in;
        left: 0;
        min-width: 100%;
        background-color: white;
        z-index: 20;

        .itemwrap {
          display: flex;
          justify-content: flex-start;
          align-items: center;
          column-gap: 25px;
          padding: 10px 30px;

          .item {
            padding: 20px 0;
            text-align: center;

            img {
              width: 120px;
              min-height: 120px;
              max-height: 150px;
            }

            .name {
              color: orangered;
            }

            .price {
              color: black;
              font-size: 20px;
            }
          }

          .iconwrap {
            margin-left: 20px;
            width: 40px;
            height: 40px;
            display: flex;
            justify-content: center;
            align-items: center;
            border: 2px solid grey;
            border-radius: 100%;
          }
        }
      }
    }
  }
}
