.Footer {
  width: 100%;
  background-color: #202020;
  .FooterDiv {
    max-width: 1235px;
    padding: 0 20px;
    margin: 0 auto;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    padding: 50px 0;
    height: 200px;
    @media screen and (max-width: "850px") {
      padding-bottom: 15px;
      flex-direction: column;
      height: auto;
      gap: 40px;
      align-items: center;
      justify-content: center;
    }
    .emailFooter {
      color: #ff6709;
      cursor: pointer;
      font-size: 13px;
      width: 182px;
      &:hover {
        text-decoration: underline;
      }
      @media screen and (max-width: "850px") {
        margin-left: 1.2rem;
      }
    }
    .topTitle {
      font-size: 19px;
      font-weight: 400;
      color: white;
      @media screen and (max-width: "850px") {
        text-align: center;
      }
    }
    .titleWrite {
      font-size: 13px;
      color: white;
    }
    .titleCall {
      font-size: 13px;
      color: white;
    }
    .titleAddress {
      font-size: 13px;
      color: white;
    }
    .Contact {
      line-height: 25px;

      .phoneNm {
        display: flex;
        justify-content: space-between;
        font-size: 13px;
        .phn1 {
          display: flex;
          align-items: center;
          font-size: 13px;
          color: #ff6709;
          cursor: pointer;
          font-weight: 200;
          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
    .Clinet {
      @media screen and (max-width: "850px") {
        align-items: center;
      }
      display: flex;
      flex-direction: column;
      height: 115px;
      justify-content: space-between;
      .topTitle {
        font-size: 13px;
        color: white;
      }
      .titleAbout {
        font-size: 13px;
        width: 37px;
        height: 15px;
        color: white;
        cursor: pointer;

        &:hover {
          color: #ff6709 !important;
          text-decoration: underline;
        }
      }
      .titleGurantee {
        font-size: 13px;
        width: 58px;
        height: 15px;
        color: white;
        cursor: pointer;
        &:hover {
          color: #ff6709 !important;
          text-decoration: underline;
        }
      }
      .titleCheck {
        width: 146px;
        height: 15px;
        display: flex;
        align-items: center;
        font-size: 13px;
        color: white;
        cursor: pointer;
        &:hover {
          color: #ff6709 !important;
          text-decoration: underline;
        }
      }
    }
    .Address {
      @media screen and (max-width: "850px") {
        text-align: center;
      }
      line-height: 25px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      .titleAddress {
        @media screen and (max-width: "850px") {
          position: relative;
        }
        position: relative;
        margin-top: 0.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        .locIcon {
          @media screen and (max-width: "850px") {
            margin-bottom: 1.7rem;
            position: relative;
            top: 0px;
            left: 0px;
          }
          position: absolute;
          top: 3px;
          left: -20px;
          font-size: 17px;
          color: #ff6709;
        }
      }
    }
  }
  .footer-footer{
    padding: 20px 0;
    text-align: center;
    border-top: .5px solid #eee;
    p{
      color: white;

    }
  }
}
