#single-item{
  width: 100%;
  .single-wrapper{
    max-width: 1230px;
    margin: 0 auto;

    .file-nest{
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      margin-top: 20px;
      .home-icon{
        margin-right: 10px;
        color: rgb(235, 120, 39);
        font-size: 18px;
        cursor: pointer;&:hover{
        opacity: .9;
      }
      }
      .category{
        margin-right: 10px;
        color: rgb(235, 120, 39);
        font-size: 14px;
        &:hover{
          opacity: .9;
        }
      }
      p{
        margin-right: 10px;
        font-size: 14px;
        cursor: pointer;
        color: #333
      }
    }
    .item-body{
      .item-title{
        margin: 20px;
        h2{
          font-size: 24px;
        }
      }
      .item-desc{
        display: flex;
        flex-direction: row;
        //align-items: center;
        justify-content: space-between;
        .item-left{
          max-width: 500px;
          margin: 0 auto;
          display: flex;
          flex-direction: column;
          align-items: center;
          .phone1{
            max-width: 150px;
            img{
              max-width: 150px;
              object-fit: contain;
            }
          }
        }
        .item-right{
          max-width: 500px;
          margin: 0 auto;
        }
      }
    }
  }
}
