.newproduct {
    margin: 0 auto;
    max-width: 1170px;
    .wrapper {
        margin: 0 auto;
        width: 1110px;
        display: grid;
        grid-template-columns: repeat(3, 370px);
        grid-template-rows: repeat(3, 208px);
        .item {
            position: relative;
            img {
                width: 100%;
            }
            p{
                position: absolute;
                bottom: 15px;
                left: 10px;
                font-size: 15px;
                font-weight: 500;
                color: white;
                mix-blend-mode: difference;
            }
        }
    }
}
